USE [master]
GO
/****** Object:  Database [ContactDb]    Script Date: 13.04.2025 03:03:50 ******/
CREATE DATABASE [ContactDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ContactDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ContactDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ContactDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ContactDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ContactDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ContactDb]
GO
/****** Object:  Table [dbo].[Contacts]    Script Date: 13.04.2025 03:03:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contacts](
	[ID] [smallint] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Surname] [varchar](50) NULL,
	[Phone Number] [varchar](15) NULL,
	[Mail] [varchar](50) NULL
) ON [PRIMARY]
GO
USE [master]
GO
